<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <%- include ('./partials/header') %>
      <p>Create an Account or Login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
    <div class="container">
      <p class="text-right mt-1">
        <span class="badge badge-pill badge-dark">by Jay Gupta</span>
      </p>
    </div>
  </div>
</div>
